$headerColor: white;
$mainColor: rgb(242, 242, 242);
$hoverColor:#eddfeb;
$fontFamily: "Poppins", sans-serif;

@mixin grid($repeat, $porcentage, $gap ){
    display: grid;
    grid-template-columns: repeat($repeat, minmax($porcentage, 1fr));
    box-sizing: border-box;
    gap: $gap;
}

@mixin content($size,$weight,$color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin shadowBox($blur,$color){
    box-shadow: 0px 0px $blur $color;
    opacity: 1;
}

%flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
}

%flexcart{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
}