footer nav, footer, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

main .cart div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: black;
  background-color: rgb(242, 242, 242);
  width: 100%;
  margin: 0rem;
}

header {
  width: 100%;
  padding: 20px 50px;
  height: 160px;
  background-color: white;
}
header i svg {
  width: 80px;
  cursor: pointer;
  display: inline-block;
}
@media screen and (max-width: 65em) {
  header i svg {
    width: 50px;
  }
}
header svg {
  width: 70%;
}

main .banner {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 252, 252);
  text-shadow: 0px 0px 10px #000000;
  background-position-x: 55%;
}
main .banner h2 {
  width: 100%;
  font-weight: 700;
  margin: 0rem;
  padding: 0rem, 10px;
  font-size: clamp(1.4em, 5vw, 2em);
}
main .banner p {
  font-size: 1em;
  opacity: 0.9;
}
main .products {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  box-sizing: border-box;
  gap: 5px;
}
@media screen and (max-width: 65em) {
  main .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    box-sizing: border-box;
    gap: 10px;
  }
}
@media screen and (max-width: 40em) {
  main .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    box-sizing: border-box;
    gap: 10px;
  }
}
main .products article {
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.753);
  opacity: 1;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
main .products article img {
  width: 100%;
}
main .products article h3 {
  font-size: 1em;
  font-weight: 600;
  padding: 1em 1em;
  margin-bottom: 0.15rem;
}
main .products article p {
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 600;
}
main .products article button {
  width: 40%;
  height: 4em;
  font-size: 0.7em;
  font-weight: 900;
  color: white;
  align-self: self-end;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.753);
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (max-width: 65em) {
  main .products article button {
    height: 3em;
  }
}
main .products article button:active {
  background-color: #eddfeb;
  color: black;
}
main .cart {
  width: 400px;
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: -85%;
  top: 140px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
}
main .cart h4 {
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
}
main .cart div {
  border-bottom: 1px solid #000000;
  padding: 0.5rem;
}
main .cart div img {
  width: 100px;
  padding: 5px;
}
main .cart div i {
  width: 50px;
  padding: 20px;
  cursor: pointer;
}
main .cart div p {
  padding: 20px;
  font-size: 0.3em;
  font-weight: 300;
}
main .cart div p.price {
  font-size: 0.7em;
  font-weight: 400;
}

footer {
  padding: 0rem 1rem;
  width: 100%;
  background-color: white;
}
footer .logo-1 {
  width: 20%;
}
footer nav {
  background-color: white;
}
footer nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(3, 2, 2);
}

@media (hover: hover) {
  main .products article:hover {
    background-color: #eddfeb;
  }
}/*# sourceMappingURL=styles.css.map */